@model IEnumerable<ITP_298.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<<<<<<< Updated upstream

=======
<!DOCTYPE html>
>>>>>>> Stashed changes



    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <p>
        <label class="filter">Search by Name</label>
        &nbsp;&nbsp;&nbsp;
        @Html.TextArea("Search", null,
        htmlAttributes: new { @class = "filter", @rows = "1" })
        <button type="button" onclick="FilterByName()" value="Search">Search</button>
    </p>
    <div id="instructorContainer">
        @Html.Partial("_Index", Model)
    </div>



@section scripts{ 
    <script type="text/javascript">

            function FilterByName() {
                var search = $('#Search').val();
                
                var container = $('#instructorContainer');

                container.load('@Url.Action("_IndexByName")?parm=' + search);
            }
    </script>

}

