@{
    ViewBag.Title = "Contact";
}
<h2>We're here to help!</h2>

<address>
    1651 E Parham Rd<br />
    Richmond, VA 23228<br />
    Phone: <a href="tel:+8043713000">(804)371-3000</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Syllabest.com">Support@Syllabest.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Syllabest.com">Marketing@Syllabest.com</a>
</address>