@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SyllaBest</h1>
    <p class="lead">Making the Syllabus Easy, to Keep You Teaching at Your Best!</p>
    <p><a href="http://dotnet.reynolds.edu/ITP298-Syllabus/CompanyWebsite/Syllabest/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            Our mission is to help every teacher at your institution focus on the more important aspects of their practice by primarily taking syllabus generation out of their hands.
        </p>
        <p><a class="btn btn-default" href="http://dotnet.reynolds.edu/ITP298-Syllabus/CompanyWebsite/Syllabest/#aboutsyllabest-section">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Guide</h2>
        <p>Once user guide is finished, I'd like to link the button to view it and have the option to download it.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Title</h2>
        <p>Description</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>