@model IEnumerable<ITP_298.Employee>

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<h1>Will add to this.</h1>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
               
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login"/>
            </td>
            <td>
                @if (ViewBag.LoginFailed !=null && ViewBag.LoginFailed==true)
                {
                    <label id="lblMessage" style="color:red;">LOGIN FAILED</label>
                }
            </td>
        </tr>
    </table>
}